@import "src/styles/mixins";

.layout {
  position: relative;

  &__first_screen {
    position: absolute;
    height: 100vh;
    z-index: -1;
    width: 100%;
    background: linear-gradient(315deg, #2FB821 0%, #009245 100%);

    @include tablet {
      height: 80rem;
      clip-path: polygon(100% 0, 100% 73%, 50% 100%, 0 73%, 0 0);
      background: linear-gradient(315deg, #2FB821 0%, #009245 100%);
    }
  }
}