.footer {
  margin-top: 4rem;
  height: 10rem;
  width: 100%;
  background: linear-gradient(315deg, #009245 0%, #2FB821 100%);

  &__container{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
